<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Funko</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="assets/main.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
</head>
<body>
  <div id="app">
    <header>
      <nav>
        <div class="nav-logo">
          <img src="assets/img/funko-seeklogo.png" alt="Funko Logo">
        </div>
        <div class="nav-cart">
          <img src="assets/img/carrinho.png" alt="Carrinho">
        </div>
      </nav>
    </header>

    <div class="banner-container">
      <img src="assets/img/image (1).png" alt="Banner" class="banner-image">
    </div>

    <div class="funkos">
      <ul class="carousel">
        <li v-for="funko in funkos" :key="funko.id">
          <img :src="funko.image" @mouseover="changeImage(funko)" :alt="funko.name">

        </li>
      </ul>
    </div>

    <main>
      <div class="main">
        <div class="img">
          <img :src="Funko.image" alt="Selected Funko">
        </div>
        <div class="info">
          <h1>{{ Funko.name }}</h1>
          <p>{{ Funko.description }}</p>
          <p class="price">R${{ Funko.price }}</p>
          <p class="installment">Ou por R${{Funko.installment}} em 5x sem juros</p>
          <p>Estoque: {{ Funko.inStock }} unidades</p>
          <p>Quantidade no carrinho: {{ cart }}</p>
          <p class="price" v-if="cart > 0">Total: R${{ totalPrice(Funko.price, cart) }}</p>
          <p class="installment" v-if="cart > 0">Total em 5x: R${{ totalPrice(Funko.installment, cart) }}</p>
          <div class="quantity-selector">
            <button @click="decreaseQuantity">-</button>
            <p>{{ cart }}</p>
            <button @click="increaseQuantity">+</button>
          </div>
          <button class="buy-button" @click="buyProduct">Comprar</button>
        </div>
      </div>
    </main>
    <footer>
      <img src="assets/img/funko-seeklogo.png" alt="Logo Footer">
      <h2>Contate-nos!</h2>
      <p>&copy; 2025 Funko Store. Todos os direitos reservados.</p>
    </footer>
  </div>

  <script src="assets/main.js"></script>
</body>
</html>
